body {
}

#credentialsInput {
    display: -ms-grid; 
    -ms-grid-columns: auto auto; 
    -ms-grid-rows: auto auto auto auto;	
}

#signInUrl {
	font-weight: 600;	
}

#credentialsInput label:first-of-type {
	/* display: block; */
	-ms-grid-column: 1;     
    -ms-grid-row: 1;
	-ms-grid-row-align: center;
}

/* #credentialsInput input:first-of-type { */
#usernameInput {
	/* display: block; */
	-ms-grid-column: 2; 
    -ms-grid-row: 1;
	margin-left: 10px;
	margin-bottom: 10px;
    font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
    border-color:black;
}

#credentialsInput label:nth-of-type(2) {
	display: block;
    -ms-grid-column: 1; 
    -ms-grid-row: 2;
	-ms-grid-row-align: center;
}

/* #credentialsInput input:nth-of-type(2) { */
#passwordInput {
	/* display: block; */
    -ms-grid-column: 2; 
    -ms-grid-row: 2;
	margin-left: 10px;
	margin-bottom: 10px;
    font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
    border-color:black;
}

/* #credentialsInput span:first-of-type { */
#kmsiWrapper {
	display: block;
    -ms-grid-column: 2; 
	/*-ms-grid-column-span: 2;*/
    -ms-grid-row: 4;
	-ms-grid-row-align: center;
     margin-left: 10px;
	/* margin-top: 5px; */ margin-bottom: 10px;
    color:black;
    font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
    font-weight:600;
}

/* #credentialsInput input:nth-child(5) { */
/* #credentialsInput input:nth-last-of-type(2) { */
#kmsiInput { 
    /* display: inline; */
	/* margin-left: 0px; margin-right: 5px; */
}

#credentialsInput button {
/* #signInButton { */
	display: block;
    -ms-grid-column: 2; -ms-grid-column-align: start;
    -ms-grid-row: 5;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* #credentialsInput input:last-of-type { */
#signInInput {
	display: block;
    -ms-grid-column: 2; -ms-grid-column-align: start;
    -ms-grid-row: 5;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 75px;
	background-color: rgb(38, 114, 236);
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
	color: #fff;
	min-width: 6em;
}

/*#credentialsInput Progress bar*/
#LoadingProgressBar {
    width: 400px;
    height: 20px;
    display: none;
}

/*#credentialsInput Lable error message */
#LblErrorMessage {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    -ms-grid-row-align: center;
     margin-left: 10px;
    font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
    color: red;
    display: none;
}

/* Label text message*/ 
.LblText {
    font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Helvetica Neue", Arial;
    font-weight:600;
    font-size:15px;
    color:black; 
    
}

